html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

@media (min-width: 1600px) {
  html,
  body {
    font-size: 18px;
  }
}

body {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0;
}

p::selection,
h1::selection {
  background: #00ff6a; /* WebKit/Blink Browsers */
}

p::-moz-selection,
h1::-moz-selection {
  background: #00ff6a; /* Gecko Browsers */
}

button {
  padding: 0;
}

.scale-container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  margin-top: 16px;
  margin-left: 16px;
  z-index: 1;
}

.scale-container p {
  margin: 0 0 0 8px;
}

.pan-container {
  height: 100vh;
  width: 100vw;
}

#floating-elements {
  position: relative;
  margin-top: -38px;
  height: 100vh;
  width: 100vw;
  margin-bottom: auto;
}

.tag {
  font-size: 12px;
  color: #c4c4c4;
}

.filters {
  position: absolute;
  bottom: 0;
  align-self: center;
  margin-bottom: 16px;
}

.filter {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: fill 0.2s;
}

.filter:not(:last-of-type) {
  margin-right: 24px;
}

.filter svg {
  height: 32px;
  width: 32px;
}

.filter:hover,
.filter:focus {
  cursor: pointer;
  fill: #00ff6a;
}

.active-filter {
  fill: #00ff6a;
}

[data-name="about"] {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 16px;
  margin-right: 16px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  z-index: 2;
}

[data-name="about"]:hover {
  cursor: pointer;
}

.close-button {
  font-size: 3em;
  font-weight: 100;
  line-height: 0.45;
  transition: color 0.2s;
}

.close-button:hover {
  color: #00ff6a;
}

.close-button:focus {
  color: #00ff6a;
}

h1 {
  font-size: 8em;
  font-family: "Archivo", sans-serif;
}

#about {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 15vh 18vw;
  left: 0;
}

#about p {
  font-size: 2em;
  line-height: 1.3;
}

#about p:last-of-type {
  margin-bottom: 15vh;
}

#about .small {
  font-size: 16px;
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.large-filters {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 64px auto;
}

.large-filter {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transition: fill 0.2s;
  fill: black;
}

.large-filter svg {
  width: 100%;
  height: 100%;
}

.large-filter:not(:last-of-type) {
  margin-right: 4vw;
}

.large-filter:hover,
.large-filter:focus {
  fill: #00ff6a;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 7em;
    margin-bottom: 40px;
  }
}

@media (max-width: 720px) {
  h1 {
    font-weight: inherit;
    font-size: 4em;
    margin-bottom: 16px;
  }

  #about {
    padding: 15vh 16px;
  }

  #about p {
    font-size: 1.3em;
    line-height: 1.3;
  }

  #about p:last-of-type {
    margin-bottom: 15vh;
  }

  #about .small {
    font-size: 16px;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .large-filters {
    width: 90%;
    margin: 32px auto;
  }
}

#active-element {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

#info {
  position: absolute;
  bottom: 8px;
  line-height: 0;
  left: 24px;
  display: flex;
  margin-bottom: 16px;
}

#long-info {
  position: absolute;
  bottom: 8px;
  line-height: 0;
  left: 24px;
  display: flex;
  margin-bottom: 16px;
  z-index: 5;
}

#long-info a:hover {
  text-decoration: underline;
}

#info p,
#long-info p {
  margin: 0;
}

#info p:not(:last-of-type)::after,
#long-info p::after {
  content: "•";
  padding: 0 8px;
}

.floating-element {
  position: absolute;
  transform: translate(0) scale(1, 1);
  transition: all 0.6s;
}

.floating-element:hover {
  z-index: 3;
  transform: translate(0) scale(1.2, 1.2) !important;
  cursor: pointer;
}

.centered {
  position: fixed;
  width: 100px;
  top: 50% !important;
  left: 50% !important;
  z-index: 3;
  /*transition: all 0.2s;*/
}

.centered:hover {
  cursor: pointer;
}

.blur {
  filter: url(#blur);
  filter: blur(14px);
  pointer-events: none;
}

.ie-fallback .blur {
  opacity: 0.2;
}

.highlight {
  animation-name: fade-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.footnote-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
}

.footnote {
  color: black;
  line-height: 1.3;
  max-width: 600px;
  z-index: 5;
}

.footnote-text {
  background-color: #00ff6a;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
